* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e7b1b1;
  }
  
  .container {
    text-align: center;
    background-color: rgb(168, 243, 247);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 200px;
    border: 1px solid #ab5959;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #7acda0;
    color: rgb(4, 19, 55);
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #081315;
  }
  
  #weatherInfo {
    margin-top: 20px;
  }
  
  #weatherInfo p {
    font-size: 18px;
  }
  